## Урок 5. Module Pandas. Read and Write


### 1. Чтение данных из источника

In [1]:
import pandas as pd
# import perf_counter

In [26]:
%%time
excel_df = pd.read_csv(r"C:\Users\Python\Downloads\Посещаемость учащихся p.2 - Лист1.csv", header = 1)

CPU times: total: 0 ns
Wall time: 0 ns

In [4]:
# %%time
excel_df = pd.read_excel(r"C:\Users\Python\Downloads\Посещаемость учащихся p.2 (1).xlsx", header = 1)

In [12]:
excel_df_2 = pd.read_excel(r"C:\Users\Python\Downloads\Посещаемость учащихся p.2 (1).xlsx")

In [3]:
csv_df = pd.read_csv(r"C:\Users\Python\Downloads\Посещаемость учащихся p.2 - Лист1.csv", encoding = 'utf-8', header = 1)

### 2. Запись данных

In [6]:
excel_df.columns

Index(['ФИО ', 'Урок 1', 'Unnamed: 2', 'Unnamed: 3', 'Урок 2 ', 'Unnamed: 5',
       'Unnamed: 6', 'Урок 3', 'Unnamed: 8', 'Unnamed: 9', 'Урок 4',
       'Unnamed: 11', 'Unnamed: 12', 'Урок 5', 'Unnamed: 14', 'Урок 6',
       'Unnamed: 16', 'Unnamed: 17', 'Урок 7', 'Unnamed: 19', 'Урок 8',
       'Unnamed: 21', 'Урок 9', 'Unnamed: 23', 'Урок 10', 'Unnamed: 25',
       'Урок 11', 'Unnamed: 27', 'Урок 12', 'Unnamed: 29'],
      dtype='object')

In [7]:
excel_df.columns[1:]

Index(['Урок 1', 'Unnamed: 2', 'Unnamed: 3', 'Урок 2 ', 'Unnamed: 5',
       'Unnamed: 6', 'Урок 3', 'Unnamed: 8', 'Unnamed: 9', 'Урок 4',
       'Unnamed: 11', 'Unnamed: 12', 'Урок 5', 'Unnamed: 14', 'Урок 6',
       'Unnamed: 16', 'Unnamed: 17', 'Урок 7', 'Unnamed: 19', 'Урок 8',
       'Unnamed: 21', 'Урок 9', 'Unnamed: 23', 'Урок 10', 'Unnamed: 25',
       'Урок 11', 'Unnamed: 27', 'Урок 12', 'Unnamed: 29'],
      dtype='object')

In [8]:
excel_df['Кол-во посещений'] = excel_df[excel_df.columns[1:]].count(axis=1)


# csv_df['Кол-во посещений'] = csv_df[csv_df.columns[1:]].count(axis=1)

In [21]:
for_uploading = excel_df[['ФИО ', 'Кол-во посещений']].sort_values('Кол-во посещений', ascending=False)

In [23]:
for_uploading.to_excel(r"C:\Users\Python\Downloads\student_info.xlsx", index=False)

In [ ]:
excel_df

In [19]:
excel_df['Город'] = ['Токио', 'Душанбе', 'Дели', 'Рим', 'Эр-Рияд', 'Каир', 'Пекин', 'Осака', 'Нью-Йорк', 'Алмата', 'Ташкент', 'Чунцин', 
                     'Ташкент', 'Душанбе', 'Афины', 'Пекин', 'Тяньцзинь', 'Москва', 'Гуанчжоу', 'Москва']

csv_df['Город'] = ['Токио', 'Душанбе', 'Дели', 'Рим', 'Эр-Рияд', 'Каир', 'Пекин', 'Осака', 'Нью-Йорк', 'Алмата', 'Ташкент', 'Чунцин', 
                     'Ташкент', 'Душанбе', 'Афины', 'Пекин', 'Тяньцзинь', 'Москва', 'Гуанчжоу', 'Москва']

In [ ]:
excel_df

In [25]:
excel_df.to_excel(r'C:\Users\User\Desktop\Excel\example.xlsx', index=False)

In [23]:
excel_df.to_csv(r'C:\Users\User\Desktop\CSV\students.csv', index=False, encoding='utf-8')

### 3.  Сводные таблицы в pandas **groupby() и pivot_table()**

In [24]:
df = pd.DataFrame({
    'Город': ['Душанбе', 'Куляб', 'Худжанд', 'Гисар', 'Дангара', 'Москва', 'Казань', 'Пермь'],
    'Население': [12615882, 5398064, 1612833, 1483116, 1257391, 2140526, 870018, 515695],
    'Страна': ['Таджикистан', 'Таджикистан', 'Таджикистан', 'Таджикистан', 'Таджикистан', 'Россия', 'Россия', 'Россия']
})

In [29]:
df[df['Страна'].eq('Таджикистан')]

     Город  Население       Страна
0  Душанбе   12615882  Таджикистан
1    Куляб    5398064  Таджикистан
2  Худжанд    1612833  Таджикистан
3    Гисар    1483116  Таджикистан
4  Дангара    1257391  Таджикистан

In [31]:
print((df[df['Страна'].eq('Таджикистан')]['Население'].sum()))
print(df[df['Страна'].eq('Россия')]['Население'].sum())

22367286
3526239

In [49]:
df['Страна'].unique()

array(['Таджикистан', 'Россия'], dtype=object)

In [83]:
grouped = df.groupby(['Страна', 'Город']).agg(
                                    city_quantity=('Население', 'count'),
                                    summary=('Население', 'sum'),
                                    )

In [57]:
x = grouped.T

In [79]:
x

Страна          Россия  Таджикистан
summary        3526239     22367286
city_quantity        3            5

In [60]:
x[x['Россия'].eq(3526239)]

Страна    Россия  Таджикистан
summary  3526239     22367286

In [61]:
df

     Город  Население       Страна
0  Душанбе   12615882  Таджикистан
1    Куляб    5398064  Таджикистан
2  Худжанд    1612833  Таджикистан
3    Гисар    1483116  Таджикистан
4  Дангара    1257391  Таджикистан
5   Москва    2140526       Россия
6   Казань     870018       Россия
7    Пермь     515695       Россия

In [66]:
pivot = df.pivot_table(index=['Страна', 'Город'], values='Население', aggfunc=('count', 'sum'), fill_value=0)

In [74]:
import numpy as np

In [67]:
pivot

                     count       sum
Страна      Город
Россия      Казань       1    870018
            Москва       1   2140526
            Пермь        1    515695
Таджикистан Гисар        1   1483116
            Дангара      1   1257391
            Душанбе      1  12615882
            Куляб        1   5398064
            Худжанд      1   1612833

In [ ]:


# Группируем по столбцу 'Страна' и вычисляем сумму и количество для столбца 'Население'
# grouped = df.groupby('Страна').agg(
#                                     {'Население': [('Общее население', 'sum'), ('Кол-во городов', 'count')]}
#                                 )

# grouped

In [68]:
df = pd.DataFrame({
    'Город': ['Душанбе', 'Куляб', 'Худжанд', 'Гисар', 'Дангара', 'Душанбе', 'Казань', 'Пермь'],
    'Население': [12615882, 5398064, 1612833, 1483116, 1257391, 2140526, 870018, 515695],
    'Страна': ['Таджикистан', 'Таджикистан', 'Таджикистан', 'Таджикистан', 'Таджикистан', 'Таджикистан', 'Россия', 'Россия']
})

grouped = df.groupby(['Страна', 'Город']).agg(
    {'Население': [('Общее населения', 'sum'), ('Кол-во городов', 'count')]}
                                   )

In [ ]:
type(grouped)

In [73]:
grouped.to_excel(r"C:\Users\User\Desktop\Excel\group.xlsx")

In [ ]:
grouped

In [62]:
pivot = df.pivot_table(index=['Страна', 'Город'], values='Население', aggfunc=('size', 'sum'))

In [ ]:
type(pivot)

In [ ]:
pivot.columns

In [60]:
pivot.columns = ['Кол-во городов', 'Общее население']

In [86]:
import random

In [88]:
np.random.seed(0)

data = {
        'transaction_id': np.random.randint(1, 201),
        'customer_id':  np.random.randint(1, 10, 200),
        'amount': np.random.randint(50, 500, 200),
        'deb_type': np.random.choice(['Путешествия', 'Компы', 'Еда', 'Учеба'], 200)
}

In [89]:
df = pd.DataFrame(data)

In [93]:
df.to_excel(r"C:\Users\Python\Downloads\cw_task.xlsx", index=False)

In [ ]:
pivot

## Задача на занятии:

1)Прочтите Excel-файл находящийся в гугл-диске в папке `Data for work`.

2)Добавьте классификацию:

Добавьте новую колонку `amount_category`, которая будет указывать на категорию суммы транзакции. Классификация может быть следующей:
- Low: сумма от 50 до 150
- Medium: сумма от 151 до 300
- High: сумма больше 300
Используйте `apply` и `lambda` функцию для создания этой классификации.

3)Сделайте группировку по amount_category и category, чтобы посчитать общую сумму (amount) для каждой категории и их подкатегории.

4)Создайте сводную таблицу (pivot table):

- Постройте сводную таблицу, которая покажет суммарные значения для каждой комбинации category и amount_category. 
- Убедитесь, что значения сводной таблицы сортируются по сумме транзакций по убыванию.

5)Выведите на экран результат 3 и 4 задачи