## Домашнее задание. День 5

### Задача 1. Анализ данных игровой индустрии (pivot_table)

Используя данные из файла `csv` в папке Work materials, нужно сделать следующее:

1) Изучите данные;

2) Определите сумму и кол-во продаж по каждой платформе. Продажи отображены в колонках с название колонки `sales`;

3) Определите сумму, максимальную и минимальную величины по жанрам игр;

4) Выведите топ-5 используемых платформ по продажам;

5) Выведите топ-5 жанров по продажам;

6) Сохраните полученные результаты в `excel-файлы`

In [24]:
import pandas as pd

data = pd.read_csv(
    "/Users/parvizjon/python-practicу-module-pandas-read-and-group-data/python-practice-module-pandas-read-and-groata/games.csv")
print("Первые 5 строк данных:\n", data.head())
print("Статистика данных:\n", data.describe())
print("Информация о данных:\n", data.info())

data.columns = data.columns.str.strip().str.lower()
print("Названия колонок:", data.columns)

data['total_sales'] = (
        data['na_sales'] +
        data['eu_sales'] +
        data['jp_sales'] +
        data['other_sales']
)

platform_sales = data.pivot_table(
    index='platform',
    values='total_sales',
    aggfunc=['sum', 'count'],
    margins=True
)
platform_sales.columns = ['total_sales', 'sales_count']
genre_stats = data.pivot_table(
    index='genre',
    values='total_sales',
    aggfunc=['sum', 'max', 'min'],
    margins=True
)
genre_stats.columns = ['total_sales', 'max_sales', 'min_sales']
top_5_platforms = platform_sales.nlargest(5, 'total_sales')
top_5_genres = genre_stats.nlargest(5, 'total_sales')

with pd.ExcelWriter(
        "/Users/parvizjon/python-practicу-module-pandas-read-and-group-data/python-practice-module-pandas-read-and-groata/game_sales_analysis_extended.xlsx") as writer:
    platform_sales.to_excel(writer, sheet_name='Platform Sales')
    genre_stats.to_excel(writer, sheet_name='Genre Stats')
    top_5_platforms.to_excel(writer, sheet_name='Top 5 Platforms')
    top_5_genres.to_excel(writer, sheet_name='Top 5 Genres')

Первые 5 строк данных:
                        Name Platform  Year_of_Release         Genre  NA_sales  \
0                Wii Sports      Wii           2006.0        Sports     41.36
1         Super Mario Bros.      NES           1985.0      Platform     29.08
2            Mario Kart Wii      Wii           2008.0        Racing     15.68
3         Wii Sports Resort      Wii           2009.0        Sports     15.61
4  Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing     11.27

   EU_sales  JP_sales  Other_sales  Critic_Score User_Score Rating
0     28.96      3.77         8.45          76.0          8      E
1      3.58      6.81         0.77           NaN        NaN    NaN
2     12.76      3.79         3.29          82.0        8.3      E
3     10.93      3.28         2.95          80.0          8      E
4      8.89     10.22         1.00           NaN        NaN    NaN
Статистика данных:
        Year_of_Release      NA_sales      EU_sales      JP_sales  \
count     16446.000000  16715.000000  16715.000000  16715.000000
mean       2006.484616      0.263377      0.145060      0.077617
std           5.877050      0.813604      0.503339      0.308853
min        1980.000000      0.000000      0.000000      0.000000
25%        2003.000000      0.000000      0.000000      0.000000
50%        2007.000000      0.080000      0.020000      0.000000
75%        2010.000000      0.240000      0.110000      0.040000
max        2016.000000     41.360000     28.960000     10.220000

        Other_sales  Critic_Score
count  16715.000000   8137.000000
mean       0.047342     68.967679
std        0.186731     13.938165
min        0.000000     13.000000
25%        0.000000     60.000000
50%        0.010000     71.000000
75%        0.030000     79.000000
max       10.570000     98.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB
Информация о данных:
 None
Названия колонок: Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

### Задача 2. Продолжаем обрабатывать данные игровой индустрии (groupby)

Используя данные из файла `csv` в папке Work materials, нужно сделать следующее:

1) Изучите данные;

2) Определите сумму и кол-во продаж по каждой платформе. Продажи отображены в колонках с название колонки `sales`;

3) Определите сумму, медиану и среднее арифметическое по жанрам игр;

4) Выведите топ-5 наименее популярных платформ по продажам;

5) Выведите топ-5 наименее привлекательных жанров по продажам.

6) Сохраните полученные результаты в `excel-файлы`

In [19]:
# Решение 
import pandas as pd

data = pd.read_csv(
    "/Users/parvizjon/python-practicу-module-pandas-read-and-group-data/python-practice-module-pandas-read-and-groata/games.csv")

data.columns = data.columns.str.strip().str.lower()

platform_sales = data.groupby('platform').agg(
    total_sales=('na_sales', 'sum'),
    eu_sales=('eu_sales', 'sum'),
    jp_sales=('jp_sales', 'sum'),
    other_sales=('other_sales', 'sum'),
    count_sales=('na_sales', 'count')
)

platform_sales['total_sales'] = platform_sales[['total_sales', 'eu_sales', 'jp_sales', 'other_sales']].sum(axis=1)
platform_sales = platform_sales[['total_sales', 'count_sales']]

print("Сумма и количество продаж по каждой платформе:\n", platform_sales)

genre_sales_stats = data.groupby('genre').agg(
    total_sales=('na_sales', 'sum'),
    eu_sales=('eu_sales', 'sum'),
    jp_sales=('jp_sales', 'sum'),
    other_sales=('other_sales', 'sum'),
    median_sales=('na_sales', 'median'),
    mean_sales=('na_sales', 'mean')
)

genre_sales_stats['total_sales'] = genre_sales_stats[['total_sales', 'eu_sales', 'jp_sales', 'other_sales']].sum(axis=1)
genre_sales_stats = genre_sales_stats[['total_sales', 'median_sales', 'mean_sales']]

print("Сумма, медиана и среднее по жанрам:\n", genre_sales_stats)

bottom_5_platforms = platform_sales.nsmallest(5, 'total_sales')
print("Топ-5 наименее популярных платформ:\n", bottom_5_platforms)

bottom_5_genres = genre_sales_stats.nsmallest(5, 'total_sales')
print("Топ-5 наименее привлекательных жанров:\n", bottom_5_genres)

with pd.ExcelWriter(
        "/Users/parvizjon/python-practicу-module-pandas-read-and-group-data/python-practice-module-pandas-read-and-groata/game_sales_analysis_extended.xlsx") as writer:
    platform_sales.to_excel(writer, sheet_name="Platform Sales")
    genre_sales_stats.to_excel(writer, sheet_name="Genre Sales Stats")
    bottom_5_platforms.to_excel(writer, sheet_name="Bottom 5 Platforms")
    bottom_5_genres.to_excel(writer, sheet_name="Bottom 5 Genres")

Сумма и количество продаж по каждой платформе:
           total_sales  count_sales
platform
2600            96.98          133
3DO              0.10            3
3DS            259.00          520
DC              15.95           52
DS             806.12         2151
GB             255.46           98
GBA            317.85          822
GC             198.93          556
GEN             30.77           29
GG               0.04            1
N64            218.68          319
NES            251.05           98
NG               1.44           12
PC             259.52          974
PCFX             0.03            1
PS             730.86         1197
PS2           1255.77         2161
PS3            939.65         1331
PS4            314.14          392
PSP            294.05         1209
PSV             54.07          430
SAT             33.59          173
SCD              1.86            6
SNES           200.04          239
TG16             0.16            2
WS               1.42            6
Wii            907.51         1320
WiiU            82.19          147
X360           971.42         1262
XB             257.74          824
XOne           159.32          247
Сумма, медиана и среднее по жанрам:
               total_sales  median_sales  mean_sales
genre
Action            1744.17          0.10    0.260911
Adventure          237.59          0.00    0.080783
Fighting           447.53          0.08    0.263086
Misc               802.51          0.08    0.232726
Platform           827.77          0.14    0.501689
Puzzle             242.57          0.05    0.211845
Racing             728.67          0.10    0.287710
Role-Playing       934.56          0.04    0.220834
Shooter           1052.45          0.12    0.447649
Simulation         389.97          0.07    0.208385
Sports            1331.27          0.11    0.291495
Strategy           174.23          0.00    0.100366
Топ-5 наименее популярных платформ:
           total_sales  count_sales
platform
PCFX             0.03            1
GG               0.04            1
3DO              0.10            3
TG16             0.16            2
WS               1.42            6
Топ-5 наименее привлекательных жанров:
             total_sales  median_sales  mean_sales
genre
Strategy         174.23          0.00    0.100366
Adventure        237.59          0.00    0.080783
Puzzle           242.57          0.05    0.211845
Simulation       389.97          0.07    0.208385
Fighting         447.53          0.08    0.263086

### Задача 3. Группировка и классификация данных

1) Прочтите Excel-файл находящийся в гугл-диске в папке `Data for work`.

2) Добавьте классификацию:

Добавьте новую колонку `amount_category`, которая будет указывать на категорию суммы транзакции. Классификация может быть следующей:

-   Low: сумма от 50 до 150
-   Medium: сумма от 151 до 300
-   High: сумма больше 300
    
Используйте `apply` и `lambda` функцию для создания этой классификации.

3) Сделайте группировку по amount_category и category, чтобы посчитать общую сумму (amount) для каждой категории и их подкатегории.

4) Создайте сводную таблицу (pivot table):

- Постройте сводную таблицу, которая покажет суммарные значения для каждой комбинации category и amount_category. 
- Убедитесь, что значения сводной таблицы сортируются по сумме транзакций по убыванию.

5) Выведите на экран результат 3 и 4 задачи

In [10]:
# Решение
import pandas as pd

file_path = "/Users/parvizjon/python-practicу-module-pandas-read-and-group-data/python-practice-module-pandas-read-and-groata/cw_task.xlsx"
data = pd.read_excel(file_path)

print(data.info())
print(data.head())


def classify_amount(amount):
    if 50 <= amount <= 150:
        return 'Low'
    elif 151 <= amount <= 300:
        return 'Medium'
    elif amount > 300:
        return 'High'
    else:
        return 'Unknown'


data['amount_category'] = data['amount'].apply(lambda x: classify_amount(x))

grouped_data = data.groupby(['amount_category', 'deb_type']).agg(
    total_amount=('amount', 'sum')
).reset_index()

print("Группировка по amount_category и deb_type:\n", grouped_data)

pivot_table = pd.pivot_table(
    data,
    values='amount',
    index='deb_type',
    columns='amount_category',
    aggfunc='sum'
).fillna(0).sort_values(by='High', ascending=False)

print("Сводная таблица:\n", pivot_table)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  200 non-null    int64
 1   customer_id     200 non-null    int64
 2   amount          200 non-null    int64
 3   deb_type        200 non-null    object
dtypes: int64(3), object(1)
memory usage: 6.4+ KB
None
   transaction_id  customer_id  amount deb_type
0               1            6      83    Компы
1               2            1     183    Учеба
2               3            4     282    Учеба
3               4            4     305      Еда
4               5            8      86      Еда
Группировка по amount_category и deb_type:
    amount_category     deb_type  total_amount
0             High          Еда         11597
1             High        Компы         10971
2             High  Путешествия          6535
3             High        Учеба         10093
4              Low          Еда           858
5              Low        Компы           701
6              Low  Путешествия          1610
7              Low        Учеба          1376
8           Medium          Еда          2282
9           Medium        Компы          3049
10          Medium  Путешествия          3305
11          Medium        Учеба          3754
Сводная таблица:
 amount_category   High   Low  Medium
deb_type
Еда              11597   858    2282
Компы            10971   701    3049
Учеба            10093  1376    3754
Путешествия       6535  1610    3305